body {
    text-align: center;
}

input, select {
    font-size: 1.1rem;
    width: 40rem;
    padding: 0.7rem;
    border-radius: 0.7rem;
}

.ai-center {align-items: center;}
.bg-violet {background-color: #ab70ac;}
.bg-white {background-color: white;}
.br {border-radius: 1rem;}
.button {
    cursor: pointer;
    box-shadow: -2px 2px 4px black;
    font-weight: bold;
    border-radius: 1rem;
    padding: 1rem;
    width: fit-content;
    margin: 1rem auto;
}
.color-violet {color: #ab70ac;}
.color-white {color: white;}
.cur-p {cursor: pointer;}
.flex {display: flex;}
.flex-30 {flex-basis: 30%;}
.flex-70 {flex-basis: 70%;}
.flex-col {flex-direction: column;}
.full-height {height: 97vh;}
.jc-center {justify-content: center;}
.left {text-align: left;}
.ma {margin: auto;}
.m-2-a {margin: 2rem auto;}
.pad-2 {padding: 2rem;}
.row-gap-07 {row-gap: 0.7rem;}
.underline {text-decoration: underline;}
.w-30 {width: 30%;}
.w-40 {width: 40%;}
.w-65 {width: 65%;}
.w-80 {width: 80%;}
.w-min {width: min-content;}